@import '../styles/variables';

.header {
  background-color: $link-color;
  color: white;
  padding: 1rem;

  .header-title {
    margin: 0;
  }

  .header-nav a {
    margin-right: 1rem;
    color: white;

    &:last-child {
      margin-right: 0;
    }
  }
}
