*{
  box-sizing: border-box;
}
body{
  background: #ecd2d2;
  margin: 0;
  padding: 0;
}
nav ul{
  display: flex;
  background-color: green;
  padding: 10px;
  justify-content: space-around;
  border: 2px yellow dashed;
}
nav ul li{
  margin-right: 10px;
}
nav ul li a{
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 5px dashed white;
  border-radius: 50%;
}
nav ul li a:hover{
  text-decoration: underline;
}
div{
  padding: 5px;
}