body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

h1 {
    text-align: center;
}

header {
    background-color: #3f8ae0;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table, td, th {
    border-collapse: collapse;
    border: 1px dashed black;
    padding: 10px;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box p {
    width: 100%;
    text-align: center;
}

.images {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.images img {
    width: 300px;
    height: auto;
    margin: 10px;
}


.form {
    display: flex;
    justify-content: center;
}