<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>O firmie</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/o-nas">O firmie</a></li>
            <li><a href="/oferta">Oferta</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </nav>
</header>

<h1 class="h1-style">O firmie</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis nisl at justo pharetra, vitae gravida magna bibendum.</p>
<p>Nullam eu dui vitae lectus malesuada tincidunt ut non velit.</p>

<div class="images">
    <img src="/static/images/image1.jpg" alt="Image 1">
    <img src="/static/images/image2.jpg" alt="Image 2">
    <img src="/static/images/image3.jpg" alt="Image 3">
</div>

<footer>
    <p>Hubert Przybysz 4C</p>
</footer>
</body>
</html>
