<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Kontakt</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/o-nas">O firmie</a></li>
            <li><a href="/oferta">Oferta</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </nav>
</header>

<h1 class="h1-style">Kontakt</h1>

<div class="form">
    <form action="/kontakt" method="POST">
        <label for="first-name">Imię:</label><br>
        <input type="text" id="first-name" name="firstName" required><br>

        <label for="last-name">Nazwisko:</label><br>
        <input type="text" id="last-name" name="lastName" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="message">Treść wiadomości:</label><br>
        <textarea id="message" name="message" required></textarea><br>

        <button type="submit">Send</button>
    </form>
</div>




<footer>
    <p>Hubert Przybysz 4C</p>
</footer>
</body>
</html>
